//Міксини
@mixin anim($time,$delay){transition: all $time ease $delay;-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay; -ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin tr($x,$y,$z){transform: translate3d($x,$y,$z);}
@mixin flexbox(){display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
@mixin flexboxinline(){display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flex;display:-o-inline-flex;display:inline-flex;font-size:0;}
